.navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}

.item {
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #1976d2;
    margin: 5px;
    border-radius: 20%;
}

.active {
    background-color: white;
    color: #1976d2;
    border: 1px #1976d2 solid;
}
