.cards {
    margin: 0 130px;
    text-align: start;
}

.goBack {
    text-decoration: none;
    color: black;
}

.input {
    width: 100%;
}

.item {
    display: flex;
    align-items: center;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    height: 36px;
}

.titleBlock {
    font-size: 12px;
    margin: 20px;
}
