.cards {
    margin: 0 130px 50px;
    text-align: start;
}

.goBack {
    text-decoration: none;
    color: black;
}

.input {
    width: 100%;
    margin-bottom: 20px;
}

.item {
    display: flex;
    align-items: center;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    height: 36px;
}

.titleBlock {
    margin-bottom: 20px;
}
